/* Home Section */
.ecommerce-logo {
    width: 163px;
    height: 56px;
  }
  .ecommerce-carousel-container {
    max-height: 50%;
    background-size: cover;
  }
  
/* offersSection */
.explore-section {
    background-color: #f5f7fa;
}

.explore-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.explore-card {
    background-color: #ffffff;
    border-radius: 8px;
}

.explore-card-image-container {
    padding: 10px;
}

.explore-card-image {
    width: 100%;
    border-radius: 20px;
}

.explore-card-title {
    color: #183b56;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.explore-card-product-title {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 10px;
}

.explore-card-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}